@import '../../styles/vars';

.pagination {
  .nav {
    display: flex;
    justify-content: center;
    button {
      margin: 0.2rem;
    }
    .pageNumber {
      &:hover, &:active, &.active {
        color: black;
        font-weight: bold;
      }
    }
  }
  .displayOptions {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    label {
      margin-right: 0.5rem;
    }
  }
}