@import '../../../styles/vars';

.review {
  .likeButton, .dislikeButton {
    border: none;
    background: none;
    padding: 0;
    margin: 0.5rem;
  }
  .likeButton {
    &:hover, &:active {
      filter: $likeFilter;
    }
  }
  .dislikeButton {
    &:hover, &:active {
      filter: $dislikeFilter;
    }
  }
}