// == colors

$likeColor: #00ba7c;
$dislikeColor: #e92929;

// == filters

$likeFilter: invert(39%) sepia(89%) saturate(1165%) hue-rotate(131deg) brightness(100%) contrast(101%);
$dislikeFilter: invert(38%) sepia(68%) saturate(6878%) hue-rotate(348deg) brightness(95%) contrast(91%);