@import 'reset';
@import 'vars';

body {
  margin: 0;
  font-family: $mainFont, 'Ubuntu', sans-serif;
  background-color: $pageBackgroundColor;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: $titleFont;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}
